$color-main: #0075FF;

// Mixin para los botones
@mixin btn-base {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}

@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}


// BOTONES
.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: solid 1px $color-main;

    &:hover {
        background-color: white;
        color: $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
} 


.btn-sec {
    @include btn-base();
    color: black;
    background-color: transparent;
    border: none;

    &:hover {
        color: #888;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}


// MENU
.main-menu {
    margin-bottom: 0;
    li {
        font-size: 0.75rem;
        list-style: none;
        display: inline;
        // margin-right: 16px;
        a {
            color: black;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


// Icons
.icon-sm {
    i {
        font-size: 0.75rem;
        padding: 0.1rem 0.25rem;
        color: $color-main;
        border-radius: 50%;
        box-shadow: 0 0 10px #00000040;
    }
}


// Feature
.feature {
    display: flex;
    flex-direction: column;
    .icon {
        color: $color-main;
        font-size: 10rem;
        text-align: center;
    }

    .description {
        .title {
            font-size: 2rem;
            text-align: center;
        }

        .text {
            color: #888;
            font-weight: 600;
            text-align: center;
        }
    }

    .cta {
        color: $color-main;
        font-weight: 600;
        margin-top: 3rem;
        text-align: center;
    }
}


// Icon desc
.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon {
        color: $color-main;
        font-size: 10rem;
        padding: 0;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -2rem;
    }
    
}